@page
@model Web_Car.Pages.Veiculos.CreateModel
@{
    ViewData["Title"] = "Cadastrar Veículo";
}
<h2>Cadastrar Veículo</h2>
<form method="post" enctype="multipart/form-data">
    <div>
        <label>Nome:</label>
        <input asp-for="Veiculo.Nome" />
    </div>
    <div>
        <label>Modelo:</label>
        <input asp-for="Veiculo.Modelo" />
    </div>
    <div>
        <label>Marca:</label>
        <input asp-for="Veiculo.Marca" />
    </div>
    <div>
        <label>Renavam:</label>
        <input asp-for="Veiculo.Renavam" />
    </div>
    <div>
        <label>Ano Fabricação:</label>
        <input asp-for="Veiculo.AnoFabricacao" />
    </div>
    <div>
        <label>Ano Modelo:</label>
        <input asp-for="Veiculo.AnoModelo" />
    </div>
    <div>
        <label>Foto (opcional):</label>
        <input type="file" name="Foto" />
    </div>
    <button type="submit">Salvar</button>
</form>
<a asp-page="Index">Voltar</a>